<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>検索</title>

    <%- include("../_share/stylesheets.ejs") %>
  </head>

  <body>
    <%- include("../_share/navbar.ejs") %>

    <main role="main" class="container">
      <form class="form-inline my-5" method="get" , action="/search">
        <input
          class="form-control"
          type="text"
          id="keyword"
          name="keyword"
          value="<%= keyword %>"
        />
        <input class="btn btn-default ml-2" type="submit" value="検索" />
      </form>

      <div class="my-5">
        <% for(let item of list) { %> <%- include("./item.ejs", item) %> <% } %>
      </div>
    </main>

    <%- include("../_share/javascripts.ejs") %>
  </body>
</html>
